[access]
	inheritFrom = All-Users
[project]
	description = Provides the robot's drivers with a heads-up display. Also allows the user to reboot the robot or reload the robot code's kernel module (This requires ALF to be running on the robot.).
[submit]
	action = rebase if necessary
	mergeContent = false
